# --------------------------

# IDE/Text Editor
.zed
.vscode

# Haxe-related
.haxelib
export
dump

# Tests
tests/*
!tests/Main.hx
!tests/build.hxml
!tests/config.ini.template

# --------------------------
